

/*  */

.card-modify{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
	background-color: rgb(200, 240, 255);
	border-radius: 20px;
	margin: 10px auto;
	margin-top: 30px;
	padding: 10px; 
	min-width: 30vw;
	max-width: 50vw;
	min-height: 50vh;
	max-height: 90vh;
	
	form{
		flex: 1;
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;
	}

	h2{
		margin: 10px auto;
	}
	select{
		margin: 10px;
		padding: 10px;
		font-size: medium;
		border-radius: 5px;
	}
	option{
		border: none;
		font-size: large;
	}
	textarea{
		margin: 10px;
		padding: 0px 0px 30% 10px;
		font-size: large;
		border-radius: 5px;
		overflow: auto;
	}
	input[type="text"]{
		margin: 10px;
		padding: 10px;
		font-size: medium;
		border-radius: 5px;
	}
	.btn-group{
		display: flex;
		justify-content: space-around;
		margin: 10px;
		button[type="reset"]{
			// margin: 10px;
			padding: 15px 30px;
			border-radius: 10px;
			border-width: 1px;
			// &:active{
			// 	// border-width: 1px;

			// }
		}
		button[type="submit"]{
			// margin: 10px;
			padding: 15px 30px;
			border-width: 1px;
			border-radius: 10px;
		}
	}
}

/*    */

.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 4px solid #a94442; 
}

/*  */
/* CSS WAY */
// #view-note-alert {
// 	visibility: hidden;
// 	opacity: 0;
// 	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
// 	&:target {
// 		visibility: visible;
// 		opacity: 1;
// 		.alert {
// 			transform: translateY(0);
// 			opacity: 1;
// 		}
// 	}
// 	.alert {
// 		opacity: 0;
// 		transform: translateY(-1rem);
// 		transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
// 		transition-delay: .2s;
// 	}
// }
.alert-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.alert-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}
.alert {
	z-index: 1;
	background-color: rgb(200, 240, 255);
	width: 60%;
	max-width: 400px;
	min-width: 100px;
	padding: 1rem;
	border-radius: 8px;
	.alert-body{
		display: flex;
		justify-content: center;
	}
	.alert-footer{
		display: flex;
		justify-content: space-between;
	}
}
/* CSS Way */
// .row{
// 	// width: 300px;
// 	margin-bottom: 5px;
// 	padding-bottom: 5px;
// 	border-bottom: 3px solid rgb(180, 180, 180);
// 	max-height:95px;
// 	overflow:hidden;
// 	text-overflow: ellipsis;
// 	content: "";
// 	position:relative;

// 	&:before {
// 		content:'';
// 		width:100%;
// 		height:100%;    
// 		position:absolute;
// 		left:0;
// 		top:0;
// 		background:linear-gradient(transparent 150px, white);
// 	}
// }