<nav>
		<h1>Notes</h1>
		<button class="btn" (click)="onBack()">Back</button>
</nav>

<div class="card-modify" >
	<form #form="ngForm" (ngSubmit)="onSave()">
		<h2>{{formTitle}}</h2>
		<input type="text" (ngModelChange)="isTitleDirty=true" placeholder="Note Title" name="title" [(ngModel)]="title">
		<textarea (ngModelChange)="isTextDirty=true" type="text" [placeholder]="dummyText" name="content" #name="ngModel" [(ngModel)]="content" required></textarea>
		<select (ngModelChange)="isTagDirty=true" name="tag" [(ngModel)]="tag">
			<option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
		</select>
		<div class="btn-group">
			<button class="btn" type="submit">Save</button>
			<button class="btn" (click)="onReset($event, form)">Reset</button>
		</div>
	</form>
</div>	

<div *ngIf="isModalOpen"  class="alert-container">
	<div class="alert">
		<div class="alert-body">
			<p>{{message}}</p>
		</div>
		<br>
		<div class="alert-footer">
			<button class="btn" (click)="onAlertClick(false)">Cancel</button>
			<button class="btn" (click)="onAlertClick(true)">Confirm</button>
		</div>
	</div>
	<!-- Background, click to close -->
	<a class="alert-bg"></a>
</div>