/* You can add global styles to this file, and also import other style files */
$primary-color: rgb(200, 240, 255);
$btn-color: linear-gradient(-180deg, $primary-color, skyblue);

body{
	height: 100%;
	width: 100%;
	background-color: lighten($color: $primary-color, $amount: 5%);
	a{
		text-decoration: none;
		color: black;
	}
}
*{/* Reset */
	margin: 0;
	padding: 0;
}

.btn{
	cursor: pointer;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: $btn-color;
	&:hover{
		background: darken($color: $primary-color, $amount: 20%)
	}
	&:active{ 
		background: darken($color: $primary-color, $amount: 40%)
	}
}
/*  */

nav{
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	justify-content: space-around;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	h1{
		align-self: center;
		margin-left: 10px;
		margin-right: 50px;
	}
	input[type="search"]{
		padding: 5px;
		border: none;
		border-radius: 5px;
	}
}