/* You can add global styles to this file, and also import other style files */
body{
	height: 100%;
	width: 100%;
	background-color: seashell;
	a{
		text-decoration: none;
		color: black;
	}
}
*{/* Reset */
	margin: 0;
	padding: 0;
	h1{text-align: center;}
}

/*  */