<nav>
	<button *ngIf="isSearch" class="btn" (click)="onBack()">Back</button>
	<h1>Notes</h1>
	<div class="nav-search">
		<input id="filter" type="search" placeholder="Tag Search..." [(ngModel)]="filterString" >
		<button class="btn" (click)="filterNotes($event)">Search</button>
	</div>
</nav>

<div class="hexagon-wrapper btn-add">
	<div class="hexagon" (click)='addNote()'>
		<img src="../../assets/solid/document-add.svg">
	</div>
</div>


<!-- LOADED NOTES -->
<div class="note-list">
	<ng-container *ngIf="notes|async as noteList; else loading">
		<div class="container" *ngFor='let note of noteList.reverse()'>

		<a class="card" [ngClass]="getbgColor(note.tag)" (click)="viewNote($event, note)" [href]="viewNoteElementId">
			<div class="card-header">
				<span class="left-header">
					<small>{{note.tag}}</small>
					<p>{{note.title | ellipsis: 20}}</p>
				</span>
				<span class="right-header">
					<span class="btn-edit" (click)="editNote($event, note)">&#x39E;</span>
					<span class="btn-close" (click)="deleteNote($event, note.id)">&times;</span>
				</span>
			</div>
			
			<div class="card-body">
				<p class="">{{note.content | ellipsis: 100}}</p>
			</div>

			<div class="card-footer">
				<small *ngIf="note.id">Created On: {{note.id | date}}</small>
				<small *ngIf="note.updated">Updated On: {{note.updated | date}}</small>
			</div>
		</a>

	</div>
	</ng-container>
	
</div>
<!-- LOADING NOTE -->
<ng-template class="note-list" #loading>
	<div class="container" *ngFor="let loading of loadingNotes">
		<a class="card" [ngClass]="getbgColor(loading.tag)">
			<div class="card-header">
				<div></div>
				<span class="right-header">
					<span class="btn-edit">&#x39E;</span>
					<span class="btn-close">&times;</span>
				</span>
			</div>
			
			<div class="card-body">
				<p class="">{{loading.content}}</p>
			</div>
			<div></div>

		</a>
	</div>
</ng-template>

<!-- MODAL -->
<div *ngIf="selectedNote"  class="modal-container" id="view-note-modal">
	<div class="modal">
		<div class="modal-header">
			<small>{{selectedNote.tag}}</small>
			<h2>{{selectedNote.title}}</h2>
		</div>
		
		<div class="modal-body">
			<p class="overflow">{{selectedNote.content}}</p>
		</div>
		
		<div class="modal-footer">
			<p>Created On: {{selectedNote.id | date}}</p>
			<p>Updated On: {{selectedNote.updated | date}}</p>
		</div>
	</div>

	<!-- Background, click to close -->
	<a href="#" class="modal-bg"></a>
</div>