$personal-bg-color: rgb(255, 200, 200);
$work-bg-color: rgb(200, 255, 200);
$miscellaneous-bg-color: rgb(255, 255, 200);
$primary-color: rgb(200, 240, 255);
$btn-color: linear-gradient(-180deg, $primary-color, skyblue);

.note-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	.container { 
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 5px;
		margin-right: 5px;

	}
}

.card {
	background-color: $miscellaneous-bg-color;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	width: 200px;
	height: 200px;
	
	display: grid;
	grid-template-columns: 180px;
	grid-template-rows: auto;
	justify-content: center;

	.card-header{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 5px;
		font-size: medium;
	}
	.card-footer{
		display: flex;
		flex-direction: column;
		margin-bottom: 5px;
	}
	&:hover{
		box-shadow: 0 2px 16px 0 rgba(0,0,0,0.35); 		
	}
}

.left-header{
	display: inline-block;
	p{
		font-size: 14pt;
		font-weight: bolder;
	}
}
.right-header{
	display: inline-flex;
	align-items: center;

	.btn-close {
		font-size: 40px;
		cursor: pointer;
		margin-left: 5px;
		&:hover {
			color: darken($color: $primary-color, $amount: 10%);
		}
		&:active { 
			color: darken($color: $primary-color, $amount: 40%);
		}
	}

	.btn-edit{
		font-size: 25px;
		cursor: pointer;
		margin-right: 5px;
		&:hover {
			color: darken($color: $primary-color, $amount: 10%);
		}
		&:active { 
			color: darken($color: $primary-color, $amount: 40%);
		}
	}
}

// .row{
// 	border-bottom: 1px solid rgba(255, 255, 255, .3);
// 	height:83px;
// 	overflow:hidden;
// }
/*  */

.hexagon-wrapper {
	width: 100px;
	height: 100px;
}
.hexagon {
	position: relative;
	width: 46%;
	height: 80%;
	margin: auto;
	background: linear-gradient(-180deg, $primary-color, skyblue);
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.4s;
	img { z-index: 1; }
	&:before {
		position: absolute;
		content: "";
		background: inherit;
		height: 100%;
		width: 100%;
		border-radius: 0;
		transition: 0.4s;
		transform-origin: center;
		transform: rotateZ(60deg);
	}
	&:after {
		position: absolute;
		content: "";
		background: inherit;
		height: 100%;
		width: 100%;
		border-radius: 0;
		transition: 0.4s;
		transform-origin: center;
		transform: rotateZ(-60deg);
	}
	&:hover {
		border-radius: 50px;
		transition: 0.4s;
		&:before {
			border-radius: 50px;
			transition: 0.4s;
		}
		&:after {
			border-radius: 50px;
			transition: 0.4s;
		}
	}
	// &:active {
	// 	border-radius: 0;
	// 	transition: 0.1s;
	// 	&:before {
	// 		border-radius: 0px;
	// 		transition: 0.1s;
	// 	}
	// 	&:after {
	// 		border-radius: 0px;
	// 		transition: 0.1s;
	// 	}
	// }
}

.btn-add{
	position: fixed;
	bottom: 2%;
	right: 2%;
	
}

/*  */

#view-note-modal {
	visibility: hidden;
	opacity: 0;
	transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	&:target {
		visibility: visible;
		opacity: 1;
		.modal {
			transform: translateY(0);
			opacity: 1;
		}
	}
	.modal {
		opacity: 0;
		transform: translateY(-1rem);
		transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: .2s;
	}
}
.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .6);
}
.modal {
	z-index: 1;
	background-color: $primary-color;
	height: 500px;
	width: 400px;
	padding: 1rem;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;

	.overflow{
		height: 300px;
		overflow-y: auto;
		position: relative;
		font-size: large;
	}

	.modal-header{
		font-weight: bold;
	}
	.modal-footer{
		display: flex;
		flex-direction: column;
	}
}
/*  */

.personal{ background-color: $personal-bg-color }
.work{ background-color:$work-bg-color }
.miscellaneous{ background-color: $miscellaneous-bg-color }

/*  */



