<nav>
	<button *ngIf="isSearch" class="btn" (click)="onBack()">Back</button>
	<h1>Notes</h1>
	<div class="nav-search">
		<input id="filter" type="search" placeholder="Tag Search..." [(ngModel)]="filterString" >
		<button class="btn" (click)="filterNotes($event)">Search</button>
	</div>
</nav>

<div class="hexagon-wrapper btn-add">
	<div class="hexagon" (click)='addNote()'>
		<img src="../../assets/solid/document-add.svg">
	</div>
</div>

<!-- Test Note -->
<!-- <div class="container">
	<a class="card" [ngClass]="bgColor" [href]="viewNoteElementId" (click)="viewNote()">
		<div class="card-header">
			<span class="left-header">
				<small>Personal</small>
				<h2>Title</h2>
			</span>
			<span class="btn-edit" (click)="editNote({
				id: 2216355442,
				title: 'Title',
				content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut urna malesuada, pellentesque fel'+
				'is quis, sodales velit. Curabitur scelerisque faucibus purus, nec sollicitudin magna fringilla vitae. Duis sit amet dui et lectus rhoncus commodo. In vel diam dictum, pretium augue ac, dictum justo. Nulla sit amet erat vitae erat congue rutrum eget et ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque quis quam ultricies, elementum justo sed, rhoncus dui. Quisque bibendum dolor quis magna tempus consectetur. Aenean feugiat aliquet nisl, placerat tempor eros. Aliquam tincidunt a ante ut feugiat. Maecenas tristique augue quis finibus porta. Ut maximus feugiat risus. Pellentesque vitae sollicitudin nisl. Maecenas at nisi.',
				tag: 'Personal'
			})">&#8921;</span>
			<span class="btn-close" (click)="deleteNote()">&times;</span>
		</div>
		
		<div class="card-body">
			<p class="overflow row">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut urna malesuada, pellentesque fel
			is quis, sodales velit. Curabitur scelerisque faucibus purus, nec sollicitudin magna fringilla vitae. Duis sit amet dui et lectus rhoncus commodo. In vel diam dictum, pretium augue ac, dictum justo. Nulla sit amet erat vitae erat congue rutrum eget et ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque quis quam ultricies, elementum justo sed, rhoncus dui. Quisque bibendum dolor quis magna tempus consectetur. Aenean feugiat aliquet nisl, placerat tempor eros. Aliquam tincidunt a ante ut feugiat. Maecenas tristique augue quis finibus porta. Ut maximus feugiat risus. Pellentesque vitae sollicitudin nisl. Maecenas at nisi.</p>
			<small>Created On: some date</small>
		</div>
	</a>
</div> -->

<div class="note-list">
	<div class="container" *ngFor='let note of (notes | async).reverse()'>

		<a class="card" [ngClass]="getbgColor(note.tag)" (click)="viewNote($event, note)" [href]="viewNoteElementId">
			<div class="card-header">
				<span class="left-header">
					<small>{{note.tag}}</small>
					<p>{{note.title | ellipsis: 20}}</p>
				</span>
				<span class="right-header">
					<span class="btn-edit" (click)="editNote($event, note)">&#x39E;</span>
					<span class="btn-close" (click)="deleteNote($event, note.id)">&times;</span>
				</span>
			</div>
			
			<div class="card-body">
				<p class="">{{note.content | ellipsis: 100}}</p>
			</div>

			<div class="card-footer">
				<small>Created On: {{note.id | date}}</small>
				<small *ngIf="note.updated">Updated On: {{note.updated | date}}</small>
			</div>
		</a>

	</div>
</div>

<div *ngIf="selectedNote"  class="modal-container" id="view-note-modal">
	<div class="modal">
		<div class="modal-header">
			<small>{{selectedNote.tag}}</small>
			<h2>{{selectedNote.title}}</h2>
		</div>
		
		<div class="modal-body">
			<p class="overflow">{{selectedNote.content}}</p>
		</div>
		
		<div class="modal-footer">
			<p>Created On: {{selectedNote.id | date}}</p>
			<p>Updated On: {{selectedNote.updated | date}}</p>
		</div>
	</div>

	<!-- Background, click to close -->
	<a href="#" class="modal-bg"></a>
</div>